 
 /*------------------ CONFIGURAÇÃO --------------------------------*/

 
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

 * {
     box-sizing: border-box;
 /*    font-family: "Poppins", sans-serif;*/ 
}

 /* acessibilidade fonte*/
 :root {

    /* acessibilidade  font-size:100%  equivale 16px equivalente a fonte padrao dos navegadore qual a porcentagem de 10 px %*/
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    /* font-size:62.5% equivalente a 100*10px por 16px*/
    box-sizing: border-box

}

 .row::after {
     content: "";
     clear: both;
     display: block;
 }

 [class*="col-"] {
     float: left;
     padding: 5px;
 }


 
section {
    margin-top: 50px;
    margin-bottom: 90px;

   
} 

 
 /*=================================== REsponsividades===============================*/
 
 
 
 /* desktop: */
 .col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /*  mobile */
    [class*="col-"] {
        width: 100%;
    }
    .col-1 {
        width: 28.33%;
    }
    
    .col-2 {
        width: 26.66%;
    }
    .social {
       padding-top: 50px;
    }
    
    .col-7 {
        padding-top: 20px;  
    }
}