
@import url("style.css");
:root {
  --cor-fonte: #0F241D;
  --cor-plano-fundo: #ffffff;
  --cor-secundaria: #0081C9;
  --cor-terciaria: #FFC93C;
  --impacto-color-bg-primary: #e8e8e8;
  --impacto-color-bg-secondary: #ffe500;
  --impacto-color-bg-tertiary: #636363;
  --impacto-color-bg-quaternary: #0caf1d;
  --impacto-color-card-bg: #fff;
  --impacto-color-card-border: #d9d9d9;
  --impacto-color-btn-primary: #3483fa;
  --impacto-color-font-primary: #636363;
  --impacto-color-font-secondary: #0caf1d;
  --impacto-color-font-tertiary: #fff;
  --impacto-color-font-placeholder: #d9d9d9;
  --impacto-color-error: #f33;
}
.doacao{
  width: 80% !important;
  margin-left: 10%;
  margin-right: 10%;
}
.categoria{
  height: 50px;
  width: 200px;
  font-size: 16px;
  margin-top: 2%;

}

.labelCategoria p{
  font-size: 25px;
  padding-bottom: 5px;
}
#catalogo-section {
  padding: 20px 0;
  max-width: 1920px;
}

.impacto-catalogo-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.impacto-catalog-ocard-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.impacto-catalogo-card-top img {
  width: 150px;
  height: 150px;
}

.impacto-catalogo-card-bottom {
  padding: 10px 20px;
  min-height: 110px;
}

.impacto-catalogo-card-bottom h3 {
  color: var(--impacto-color-font-secondary);
  font-size: 20px;
  text-align: center;
  padding-bottom: 3%;
}

.impacto-catalogo-card-bottom h4 {
  color: var(--impacto-color-font-primary);
  font-size: 12px;
  text-align: center;
  padding-bottom: 3%;
}


.impacto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--impacto-color-card-border);
  border-radius: 4px;
  background-color: var(--impacto-color-card-bg);
}

.impacto-card img{
  width: 100%;
  height: 90%;
}
.adicionarCarrinho{
  display: flex;
  background-color: var(--cor-plano-fundo);
  border-color: var(--cor-secundaria);
  width: 100%;
  height: 35px;
  align-items: center;
  justify-content: center;
  
}
.removerCarrinho{
  display: flex;
  background-color: var(--cor-plano-fundo);
  border-color: var(--cor-secundaria);
  width: 300px;
  height: 35px;
  color: var(--cor-fonte);
  align-items: center;
  justify-content: center;
  
}

.button-hover-background:hover {
  background: transparent;
  color: var(--impacto-color-btn-primary);
}


.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-head-item {
  text-align: start;
  border-bottom: 5px solid var(--impacto-color-bg-tertiary);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.produto-cart td {
  padding: 10px 0;
}

.produto-identification {
  display: flex;
  align-items: center;
}

.cart-produto-image {
  width: 120px;
  height: 70px;
}

.cart-produto-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-produto-price {
  font-family: "Raleway", sans-serif;
}

.produto-qtd-input {
  width: 60px;
  height: 44px;
  border-radius: 6px;
  border: 2px solid var(--impacto-color-btn-primary);
  text-align: center;
  background: #eee;
  font-size: 20px;
}

.remove-produto-button {
  margin-left: 12px;
  background:var(--impacto-color-btn-primary);
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-produto-button:hover {
  filter: brightness(0.6 );
}

.cart-total-container {
  border-top: 1px solid var(--impacto-color-bg-tertiary);
  text-align: center;
  padding: 17px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.botaoComprar {
  display: flex;
  margin: 24px auto 0;
  background: var(--impacto-color-btn-primary);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: filter 0.2s;
}
#modalId , #modalIdFecha{
  display: flex;
  margin: 24px auto 0;
  background: var(--impacto-color-btn-primary);
  color: var(--white);
  border: 0;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  transition: filter 0.2s;
}
#modalIdFecha{
  margin-bottom: 100px;
}
dialog::backdrop{
  background-color: rgba(5, 9, 226, 0.4);
}
#modalId{
  display: none;
}
dialog{
  border: none;
  box-shadow: 1rem var(--cor-secundaria);
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;
  height: 46%;
  border-radius: 20px;
  background-image: url("../img/doacao/doe.png");
  background-size: 100vh;
}
dialog p {
  font-size: 2rem;
  width: 50%;
  margin-left: 2%;
  margin-top: 2%;
  color: var(--impacto-color-error);
}
.botaoComprar:hover {
  filter: brightness(0.8);
}
iframe{
margin-left: 20px;
}