
.error {
    color: red;
    font-size: x-small;
    padding-left: 20px;
    padding-top: 1;
    margin: 0;

}
.col-6 .error{
    margin: 1;
    padding-top: 1;

}
.facalogin{
    padding: 0 25% 0 0 ;
    text-align: center;
}


.obrigado {
    padding: 25%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.etapas-forms {
  /*  background-color: red   
    max-height: 580px;
    overflow-y: scroll;;*/
    width: 100%;
    /* margin: 20px;*/
     /*padding: 20px;*/
}


/*============================================ Progressbar =============================================*/
.progress-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 300px;
    /* Ajuste conforme necessário */
    margin: 0.9rem auto;
    /* Centralize a barra de progresso */
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

.step {
    position: relative;
    width: 30px;
    /* Tamanho da bolinha */
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border-color: #db6c34;
    background: #ec8450;
    /* Cor padrão das bolinhas */
    color: #fff;
    justify-content: space-between;

    cursor: pointer;
    z-index: 2;

    /* Coloca as bolinhas sobre a barra de progresso */
    h4 {
        display: inline;
        margin: 0;
        color: #3498db;
        height: 3px;
    }
}

.progress {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    height: 10px;
    /* Altura da barra de progresso */
    /* background-color: #ccc; */
    width: 0;
    /* Inicialmente sem preenchimento */
    z-index: 1;
}

/* Adicione estilos específicos para cada etapa */
.step.active {
    background-color: #2ecc71;
    /* Cor da bolinha quando está ativa e concluída */
}

.step-1.active~.progress {
    width: 33.33%;
    /* Preenche a barra de progresso até a etapa 1 */
}

.step-2.active~.progress {
    width: 66.66%;
    /* Preenche a barra de progresso até a etapa 2 */
}

.step-3.active~.progress {
    width: 100%;
    /* Preenche a barra de progresso até a etapa 3 */
}



/*======================================= Blocos DO Formulario =========================================*/


.etapas {
    /* background-color: #2e3bcc;*/
    padding: 10px;
    border-radius: 4px;
}

.etapa-formulario {

width: 100%;
    display: none;
    font-size: 15px;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    padding-left: 0;

    /* BLOCO Ocupa o restante do espaço disponível na mesma linha para aparecer como aba */

}

.etapa-atual {
    display: block;
    flex: 1;
    /* BLOCO Ocupa o restante do espaço disponível na mesma linha para aparecer como aba */

}
.etapa-atual#login {
    width: 100%;
    display: none;
    font-size: 15px;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0;
    padding-left: 0;

}


/*para exibir os dados cadastrados JS*/
#dados-cadastrado {
    text-justify: auto;
    width: 1fr;
    height: auto;
    margin-top: 20px;
    padding: 5px;

    .field-cadastrados {
        font-size: 11px;
        text-align: left 15px;
        justify-content: space-between;
        text-overflow: clip;
        text-decoration-color: #a6a7a7;
    }

    strong {
        font-weight: bold;
        margin-top: 10px;
        padding: 1px;
        box-sizing: border-box;
        /*largura do form*/
        justify-content: space-between;
        font-size: 13px;
        width: 1fr;
        padding-right: 5px;
    }
}


/*======================================= FORMULARIO =========================================*/


form {
    margin-top: 0px;
    /* padding-right: 30px; */
    /* padding-left: 30px; */
    max-width: auto;
    height: auto;
    box-sizing: border-box;
    border: none !important;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.linha-contato {
    height: auto;
    padding-bottom: 30px;
}

.linha-contato .col-6 form {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}
div.col-6.form{
    padding-left: 17px;

}
form#cadastro{
    margin: 0;
    padding: 0;
}
div.etapas {
    margin: 0;
    padding: 0;
}


div.field-cadastroForm{
    border: 0;

}


form legend {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

form h1 {
    font-size: 8.8rem;
}

form h2 {
    font-size: 5.8rem;
}

form legend h3 {
    font-size: 4.8rem;
}

form legend h6 {
    font-size: 8.0rem;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*estica todos os campos*/
    margin-left: 8px;
    padding-right: 32px;
    padding-left: 17px;

}


form .field-group {
    display: flex;

}

/*Correção responsividade formulario*/
form input, select, textarea {
  
    width: 100%;
}

/*Correção borda na caixa de politicas*/
input#aceitarPoliticas {
    margin: none !important;
    box-shadow: none !important;
   margin-left: 0 !important;
}


form input, select, textarea {
    background-color: #faf5f3bb;
    padding: 0.90rem;
    border-spacing: 0.125rem solid transparent;
    border: 0.125rem solid transparent;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
    box-shadow: 0 0 0.3125rem #743711;
}




form input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
    outline: none !important;
    border-color: #db6c34;
    box-shadow: 0 0 0.3125rem #743711;
}

form label,
:placeholder-shown {
    font-size: 1.1rem;
    margin-bottom: 2px;
}

form .field-group .field+.field {
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 0px;
}


textarea {
    min-height: 8.5rem;
    resize: vertical;
}

button {
    width: auto;
    padding: 0.90rem;
    border: 0.125rem solid transparent;
    margin-bottom: 1rem;
    border-radius: 4px #db6c34;
    border-color: #db6c34;
    background: #ec8450;
    box-shadow: 0 0 0.3125rem #743711;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-weight: 700;
}



/*pOLITICAS SCROLL*/
#politicas {
    flex-wrap: wrap;
    margin-top: 5px;
    display: none;
    overflow-y: scroll;
    height: 50px;
    min-width: auto !important;
    max-height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical;
    box-shadow: 0 0 0.3125rem #743711;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9rem;
}


/***============================= MAPS ======================*/

.linha-mapas {
    height: auto;
    padding-bottom: 30px;
}

.linha-mapas .col-6 .mapas {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}


/***============================== FONTE SIZE ============================== ***/
h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

h2 {
    font-size: 2.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

h3 {
    font-size: 1.9rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

h5 {
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

h6 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;

}

.header-contato {
    margin-left: 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin-bottom: 10px;

}

p,
ul,
li {
    font-size: 14px;
    font-family: "Poppins", sans-serif;

}
