/* nav */

nav{

}

.cabecalho__menu__divisao__logo {
    color: black;
}

.cabecalho__menu__divisao__impacto {
    color: #000000;
}

.cabecalho__menu__divisao__profundo {
    color: #0081C9;
}

.cabecalho__menu__divisao__logo {
    font-family: "Dongle", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 48px;
}

.cabecalho {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.cabecalho__menu__divisao {
    display: flex;
    align-items: center;
    gap: 20px;
   margin-left: 84px;
   justify-content: space-between;

}

.cabecalho__menu__divisao__imagem {
    width: 59px;
    height: 50px;
}

.cabecalho__menu__selecoes__lista {
    display: flex;
    margin: 23px;
    gap: 10px;
text-align: right;
}

.cabecalho__menu__selecoes__lista li a {
    text-decoration: none;
    cursor: pointer;
    padding-left: 5rem;
    color: black;
    font-size: 20px;
    margin-right: 100px;
    padding: 3px;

}

.cabecalho__menu__selecoes__lista__link:hover {
    border-bottom: 2px solid blue;
}

.cabecalho__menu__selecoes__lista {
    display: none;

}

/* Estilizar o menu hamburguer */
.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    /* Adiciona uma margem entre os pausinhos */
    transition: transform 0.4s;
}

/* Estiliza o menu hamburguer aberto */
.mobile-menu.active div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.mobile-menu.active div:nth-child(2) {
    opacity: 0;
}

.mobile-menu.active div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Estilizar o menu normal para desktop */
@media only screen and (min-width: 769px) {
    .cabecalho__menu__selecoes__lista {
        display: flex !important;
        /* Forçar exibição do menu normal em desktop */
    }

    .mobile-menu {
        display: none;
        /* Esconder o menu hamburguer em desktop */
    }
}

/* Estilizar o menu hamburguer para telas menores */
@media only screen and (max-width: 768px) {

   
    .cabecalho__menu__divisao {

         margin-left: 25px; 
    }

    .cabecalho__menu__selecoes__lista {
        display: none;
        /* Esconder o menu normal em telas menores */
    }

    .cabecalho {
        display: flex;
        height: 15vh;
        justify-content: space-between;
    }

    .mobile-menu.active+.cabecalho__menu__divisao {
        display: flex;
        align-items: center;
        gap: 20px;
        /* margin-left: 84px; */
    }


    .mobile-menu.active+.cabecalho__menu__selecoes__lista {
        display: block;
        height: 24vh;
        background-color: #ffffff;
        padding-top:  25px;

        padding: 25px;
       /* padding-left: -0px;*/
       /* padding-right: -0px;*/
        margin-top: 15px;
        margin: auto;
        border-radius: 8px;
    }

    .mobile-menu.active+.cabecalho__menu__divisao {
        display: flex;
        align-items: center;
        gap: 20px;
        /* margin-left: 84px; */
    }


    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 51px;
        flex-direction: column-reverse;
        padding: 25px;
        margin: 10px;
    }

    .cabecalho__menu__selecoes__lista__link {
        display: block;
        text-align: center;
    }

    a.cabecalho__menu__selecoes__lista__link {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 0;

    }
    .cabecalho__menu__selecoes__lista li a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        /* margin-right: 100px; */
        /*padding-left: 5rem;*/
        /*padding: 3px;*/
        margin-right: 0;
       margin-top: 0;



    }

    .cabecalho__menu__selecoes__lista li a {
        color: black;
        font-size: 20px;
    }
    .cabecalho__menu__divisao__logo {
        font-family: "Dongle", sans-serif;
        font-weight: lighter;
        font-style: normal;
        font-size: 2.8rem;
    }


    .mobile-menu.active+.cabecalho__menu__selecoes__lista {
        display: block;
    }

    nav.menu.active+.cabecalho__menu__selecoes__lista {
        height: 16vh;
    }


}