@import url("../../css/style.css");


#catalogo-section {
  padding: 20px 0;
  max-width: 1920px;
}

.dsc-catalogo-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.dsc-catalog-ocard-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dsc-catalogo-card-top img {
  width: 150px;
  height: 150px;
}

.dsc-catalogo-card-bottom {
  padding: 10px 20px;
  min-height: 110px;
}

.dsc-catalogo-card-bottom h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 20px;
}

.dsc-catalogo-card-bottom h4 {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
}


.dsc-card {
  border: 1px solid var(--dsc-color-card-border);
  border-radius: 4px;
  background-color: var(--dsc-color-card-bg);
}

.dsc-search-bar {
  height: 40px;
  display: flex;
  color: var(--dsc-color-font-primary);
  margin-bottom: 10px;
}

.dsc-search-bar button, .dsc-search-bar input {
  border: 1px solid var(--dsc-color-card-border);
}

.dsc-search-bar input {
  width: 25rem;
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--dsc-color-font-primary);
  
}

.dsc-search-bar input:focus {
  outline: none;
}

.dsc-search-bar input::placeholder {
  color: var(--dsc-color-font-placeholder);
}

.dsc-search-bar button {
  width: 40px;
  color: var(--dsc-color-font-primary);
}

.dsc-search-bar button[type="submit"] {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.dsc-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 4px 4px 0;
}